/* Add additional stylesheets below
-------------------------------------------------- */


h1 {
    color: #d5d30b;
    background: #060534;
    font-size: 6em;
    font-family: "Impact", serif;
    margin: auto;
    width: 5em;
    border: 3px solid #0044ff;
    padding: 0px 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 1.25em;
}
.text-score{
    color: #d5d30b;
    width: 23%;
    height: 3em;
    font-size: 40px;
    padding: 0px;

}
.ship-score{
    height: 10em;
    border-radius: 10px;
}

body {
    background: #060534;
}
.left{
    float: left;
}
.right{
    float: right;
}
.battleGrid {
    border: 3px solid #0044ff;
    border-spacing: 0px;
    margin: 5px;
    table-layout: fixed;
    border-radius: 10px;
    z-index: 0;
}
.table-container{
    /*border: 1px solid white;*/
    padding: 0px 5em;
    height: 400px;
    /*background: #d5d30b;*/
}
div{
    /*border: 1px solid white;*/
}
.score-container{
    /*border: 1px solid white;*/
    /*border: 1px solid #fffc0c;*/
    padding: 0px 10em;
    height: 12em;
}
.ship-score{
    border: 3px solid #fffc0c;

}
.battleGrid tr {
    border: 1px solid #0500d5;
    height: 35px;
}

.battleGrid td {
    border: 0px solid #0500d5;
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.grid-score td {
    border: 0px solid #0500d5;
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0;
    display: inline-block;
}

td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.sonarEmpty {
  background-color: gray;
}

.sonarFound {
  background-color: lightgreen;
}

.occupied {
    background-color: white;
}

.hit {
    background-color: orange;
}

.miss {
    background-color: blue;
}

.hitarmr {
    background-color: blue;
}
.sink {
    background-color: red;
}

.rotate {
    transform: rotate(-90deg);
}

img {
    border: 0;
    height: 35px;
    width: 35px;
    padding: 0px;
    margin: 0px;
}


/* Modal Stuff */



#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
}

#start-phase-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
    font-family: "impact", serif;
}

#move-fleet-modal {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    font-family: "impact", serif;
}


.modal-dialog {
    width: auto;
    max-width: 500px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;
}

.modal-header {
    position: relative;
    padding: 10px 20px;
    text-align: center;
}

.modal-header h3 {
    margin: 0;
    font-size: 36px;
}

#modal-close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.modal-body {
    padding: 20px;
    margin: auto;
    text-align: center;
}

.modal-body div {
    padding: 10px;
}

.checkbox-div {
    font-size: 26px;
    text-align: center;
}

input[type=checkbox] {
    transform: scale(1.5);
    padding-bottom: 2px;
    cursor: pointer;
}
.hidden {
    display: none;

}


.modal-body button {
    max-width: 280px;
    min-width: 280px;
    font-family: "impact", serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    cursor: pointer;
}




.modal-body button:hover {
    filter: brightness(75%);
}

#modal-close {
    margin-right: 20px;
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: #000;
    border: 1px solid #ababab;
    border-radius: 5px;
    font-weight: lighter;
    cursor: pointer;
}

#modal-close:hover {
    background-color: #646464;

}
