/* Add additional stylesheets below
-------------------------------------------------- */

.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
    table-layout: fixed;
}

.battleGrid tr {
    border: 1px solid black;
    padding: 0;
    margin: 0;
}

.battleGrid td {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    display: inline-block;
}

td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}

.rotate {
    transform: rotate(-90deg);
}

img {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0px;
    margin: 0px;
}