<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>BATTLESHIP</h1>
<body>
<main>
    <div class="score-container">
        <div id="left">
            <div class="ship-score opponent right">
                <table class = "grid-score" id = "right-table-shipscore">
                </table>
            </div>
            <div class="text-score opponent right">
                <div>Hits:  <span id="opponent-hits">0</span></div>
                <div>Sinks: <span id="opponent-sinks">0</span></div>
            </div>
        </div>
        <div id="right">
            <div class="ship-score player left">
                <table class = "grid-score" id = "left-table-shipscore">
                </table>
            </div>
            <div class="text-score player left">
                <div>Hits:  <span id="player-hits">0</span></div>
                <div>Sinks: <span id="player-sinks">0</span></div>
            </div>
        </div>
    </div>
    <div class="table-container">
        <div id="left">
            <table id="opponent" class="opponent battleGrid right"></table>
        </div>
        <div id="right">
            <table id="player" class="player battleGrid left"></table>
        </div>
    </div>
</main>
<button  onclick="location.reload();">Refresh Page</button>
<button type="button" id="place-ship">Place Ship</button>
<button type="button" id="use-sonar">Use Sonar</button>


<div id="modal-backdrop"></div>
<div id="start-phase-modal">
    <div class="modal-dialog">

        <div class="modal-header">
            <h3>Place your Ships</h3>
            <h4>Place 3 ships to start your game.</h4>
            <!--<button type="button" id="modal-close" class="modal-hide-button">&times;</button>-->
        </div>

        <div class="modal-body">
            <div id="place_minesweeper_div"><button id="place_minesweeper">Place Minesweeper</button></div>
            <div id="place_destroyer_div"><button id="place_destroyer">Place Destroyer</button></div>
            <div id="place_battleship_div"><button id="place_battleship">Place Battleship</button></div>
            <div id="place_submarine_div"><button id="place_submarine">Place Submarine</button></div>

            <div class="checkbox-div"><input type="checkbox" id="is_vertical">Rotate Placement</input></div>

        </div>
    </div>
</div>

    <script type="text/javascript" src="/assets/game.js"></script>
    <script>
        initGame();
    </script>
</@layout.myLayout>
</body>
