<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>BATTLESHIP</h1>
<body>
    <div class="score-container">
        <div id="left">
            <div class="ship-score opponent right"></div>
            <div class="text-score opponent right">
                <div>Hits:  <span class="opponent hits">0</span></div>
                <div>Sinks: <span class="opponent sinks">0</span></div>
            </div>
        </div>

        <div id="right">
            <div class="ship-score player left"></div>
            <div class="text-score player left">
                <div>Hits:  <span class="opponent hits">0</span></div>
                <div>Sinks: <span class="opponent sinks">0</span></div>
            </div>
        </div>
    </div>
    <div class="table-container">
        <table id="opponent" class="opponent battleGrid left">
        </table>

        <table id="player" class="player battleGrid right">
        </table>
    </div>


    <script type="text/javascript" src="/assets/game.js"></script>
    <script>
        initGame();
    </script>
</@layout.myLayout>
</body>
